@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: 0 auto;
}
.btn-theme {
  @apply border-black border-2 px-5 py-2 rounded;
}

/* git stash , git pull */
